*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/freeline
/freeline_core
freeline.py
.idea/.name
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/copyright
